In [5]:
import pandas as pd
import numpy as np

In [6]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

               b         d         e
Utah    0.854666  1.851990 -0.365228
Ohio    1.864779  1.651090 -0.212454
Texas   0.035466 -0.550469 -1.426942
Oregon -2.539805 -0.040455  0.411975

In [12]:
f = lambda x: x.max() - x.min()

In [9]:
frame.apply(f)

b    4.404584
d    2.402459
e    1.838917
dtype: float64

In [13]:
frame.apply(f, axis=1)

Utah      2.217218
Ohio      2.077233
Texas     1.462408
Oregon    2.951780
dtype: float64

In [16]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

In [17]:
 frame.apply(f)

            b         d         e
min -2.539805 -0.550469 -1.426942
max  1.864779  1.851990  0.411975

In [18]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

In [19]:
 obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [20]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'], columns=['d', 'a', 'b', 'c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [21]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [22]:
frame.sort_index(axis =1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [23]:
frame.sort_index(axis=1, ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [24]:
obj = pd.Series([4, 7, -3, 2])
obj

0    4
1    7
2   -3
3    2
dtype: int64

In [27]:
obj.order()

AttributeError: 'Series' object has no attribute 'order'

In [29]:
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
obj

0    4.0
1    NaN
2    7.0
3    NaN
4   -3.0
5    2.0
dtype: float64

In [30]:
obj.order()

AttributeError: 'Series' object has no attribute 'order'

In [31]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [32]:
frame.sort_index(by='b')

C:\Users\Dua\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

In [33]:
frame.sort_index(by=['a', 'b'])

C:\Users\Dua\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1